body {
	margin: 0;
}

h1, h2, h3, p, a {
	font-family: 'Comfortaa', cursive;
	color: black;
	margin: 0;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.25rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

p {
	font-size: 0.8rem;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}